<h1>
  Welcome to Niall's Git Search app
</h1>
<p>
  This page was developed as part of Microsoft's <a href="https://www.edx.org/course/Github navigation App in Angular-2" target="_blank">DEV314x Angular Fundamentals</a> course
</p>
<nav>
    <a routerLink="/search" routerLinkActive="active">
      <button>Search For GitHub Repositories</button>
    </a>
  </nav>
